<div class="container-fluid " style="background-color: #00B4CC; ">
  <h4 class="p-3">Employee Details</h4>
  <table class="table table-bordered  " style="background-color: #78C2C2">
    <thead></thead>
    <tbody>
      <tr>
        <th scope="row">Employee Id</th>
        <td>{{ event.employeeid }}</td>
      </tr>
      <tr>
        <th scope="row">Employee Name</th>
        <td>{{ event.employeename }}</td>
      </tr>
      <tr>
        <th scope="row">Contact Number</th>
        <td>{{ event.contactnumber }}</td>
      </tr>

      <tr>
        <th scope="row">Designation</th>
        <td>{{ event.designation }}</td>
      </tr>
      <tr>
        <th scope="row">Location</th>
        <td>{{ event.employeelocation }}</td>
      </tr>
      <tr>
        <th scope="row">Department</th>
        <td>{{ event.department }}</td>
      </tr>
    </tbody>
  </table>
</div>
