<div class="container-fluid " style="background-color: #00B4CC; ">

<h4 class="p-2">Employee Details</h4>
  <table class="table table-bordered  " style="background-color: #78C2C2">
  
  <thead>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Employee Id</th>
      <td>{{event.id}}</td>
    </tr>
    <tr>
      <th scope="row">Employee Name</th>
      <td>{{event.name}}</td>
    </tr>
    <tr>
      <th scope="row">Location</th>
      <td>{{event.location}}</td>
    </tr>
    <tr>
      <th scope="row">Designation</th>
      <td> {{event.Designation}}</td>
    </tr>
  </tbody>
</table> 
  </div>



 